@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fd0303;
  --white: #ffffff;
  --black: #000000;
  --linearColor:  linear-gradient(
    90deg,
    rgba(248, 19, 19, 0.7) 0%,
    rgba(146, 11, 11, 0.42) 100%
  );

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
